@use "src/styles/theme";

.task-input {
  height: 45px;
  width: 90%;
  display: flex;

  input {
    height: 100%;
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    background-color: theme.$white-dark;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid theme.$background-dark;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: background-color 0.2s, border 0.2s;

    &:hover {
      background-color: theme.$white;
      transition: 0.2s;
    }

    &:focus {
      background-color: theme.$white-dark;
      border: 1px solid theme.$primary;
      border-right: none;
    }

    &::placeholder {
      font-size: 14px;
      font-style: italic;
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  button {
    height: 100%;
    width: 100px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: theme.$primary;
    color: theme.$white;
    border: 1px solid theme.$primary;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.2s, border 0.2s;

    &:hover {
      background-color: theme.$primary-light;
      border: 1px solid theme.$primary-light;
      border-left: none;
      transition: all 0.2s;
    }

    &:active {
      background-color: theme.$primary-dark;
      border: 1px solid theme.$primary-dark;
      border-left: none;
    }
  }
}