@use "sass:map";

$palette: (
  "white": (
    "base": #FCFCFC,
    "dark": #F6F6F6,
  ),  
  "light-blue": (
    "base": #0ABAFF,
    "light": #5CD1FF,
    "dark": #00A1E0
  ),
  "light-gray": (
    "base": #E0E0E0,
    "light": #EBEBEB,
    "dark": #CCCCCC
  ),
  "gray": (
    "base": #8F8F8F,
    "dark": #707070
  ),
  "black": (
    "base": #1F1F1F,
    "light": #2C2C2C,  
    "dark": #141414
  )
);

@function color($keys...) {
  $map: $palette;
  @each $key in $keys {
      $map: map-get($map, $key);
  }
  @return $map;
}