@use "src/styles/theme";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");


* { 
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: theme.$background-light;
  color: theme.$black-light;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
