@import 'src/colors';

.task-item {
  opacity: 0.8;
  font-size: 18px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 0px 10px;

  .task-status {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    color: $gray-1;
  }

  .task-status:hover {
    transform: scale(1.2);
    color: darken($gray-1, 30%);
  }

  .done {
    color: $green-1;
  }

  .done:hover {
    color: lighten($green-1, 10%);
  }

  .task-description {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      width: 100%;
    }
  }
  
  .remove-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: $gray-1;
  }

  .remove-icon:hover {
    transform: scale(1.2);
    color: darken($gray-1, 30%);
  }
}

.task-item:last-child {
  margin-bottom: 0px;
}

.task-item:hover {
  opacity: 1;
  background-color: $background-2;
}